<div id="feedFlex">
    <%- include("header") %>

    <div id="toolbar">
        <% if (logged) { %>
            <a href="/" class="buttonStyle">Feed</a> &nbsp &nbsp
            <a href="/albumSearch" class="buttonStyle">Album Search</a> &nbsp &nbsp
            <a href="/userProfile" class="buttonStyle">Your Lists</a> &nbsp &nbsp
            <a href="/account" class="buttonStyle">Account</a> &nbsp &nbsp
            <a href="/logout" class="buttonStyle">Log Out</a>
        <% } else { %>
            <a href="/albumSearch" class="buttonStyle">Album Search</a> &nbsp
            <a href="/" class="buttonStyle">Feed</a>
        <% } %>
    </div>

    <div id="header">
        <h1>Musica</h1>
        <% if (duplicate) { %>
            <p class="message hidden">Album Is Already on Your List!</p>
        <% } %>
        <hr>
        <h2 class="textOverflow"><%=title%></h2>
    </div>
    <hr style="width: 22%; border-width: 1.9px;">
    
    <div id="albumInfo">
        <% if (logged) { %>
            <form action="/album/<%=albumID%>" method="post" style="display: inline-block; position: absolute; display: inline; margin-top: 535px; margin-left: -35px;">
                <button type="submit" class="buttonAddAlbum fadeIn" name="add" value="added">Add to List</button>
            </form>
        <% } %>
        <img style="transform:scale(0.9);" src=<%=cover%> class=imgAlbum alt="Album cover not available">

        <div id="info" class="fadeIn trackListAlbum">
            <p style="font-weight: bold; font-size: 110%"><%=artist%> - <%=title%></p>
            <p><%=year%></p>
            <p><%=genre%></p>
            <hr style="border-color: black; border-width: 1px; width: 300px">
            <p>- Tracklist -</p>
                    <% tracks.forEach(function(track) { %>
                        <p style="line-height: 0.85;"><%=track%></p>
                    <% }); %>
                <br>
            <% if (videoMap.size > 0) { %>
                <p>- Listen -</p>
                <div class="textOverflow">
                    <% for (const [key, value] of videoMap.entries()) { %>
                        <a style="margin-left: 1.5%; font-size: 1.25rem; line-height: 1.8; color: #15333f; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;" href="<%=value%>"><%=key%></a>
                        <br>
                    <% } %>
                </div>
            <% } %>  
            <br>
        </div>
    </div>
    <%- include("footer") %>
</div>
<br>