<div id="feedFlex">
    <%- include("header") %>

    <div id="toolbar">
        <a href="#header" class="buttonStyle">Start</a> &nbsp
        <a href="/userHome" class="buttonStyle">Feed</a> &nbsp
        <a href="/logout" class="buttonStyle">Log Out</a>
    </div>

    <div id="header">
        <h1>Musica</h1>
        <hr>
        <form action="/userProfile" method="post">
            <input type="text" name="userArtist" placeholder="Artist">
            <br>
            <input type="text" name="userAlbum" placeholder="Album">
            <br>
            <input type="text" name="year" placeholder="Year">
            <button type="submit" class="buttonStyle" style="font-size: 2.2rem">Add</button>
        </form>
        <hr style="width: 50%; border-width: 2px; margin-top: -55px">
    </div>

    <div id="albumsFlex">
        <% var position = 1; %>
        <% albumList.forEach(function (item) { %>
            <div id="albumEntry">
                <h3><%=position%>.&nbsp <%=item.year%> <%=item.title%></h3>
                <% position++ %>
                <img src=<%=item.img %> class=imgAlbum alt="Album cover not available">

                <div id="albumTracks" class="hideScrollbar1 hideScrollbar2 trackList">
                    <% item.albumTracks.forEach(function(track) { %>
                        <p><%=track%></p>
                        <br>
                    <% }); %>
                </div>

                <br><br>
            </div>
        <% }); %>
    </div>

    <%- include("footer") %>
</div>