<div id="feedFlex">
    <%- include("header") %>

    <div id="toolbar">
        <a href="/albumSearch" class="buttonStyle">Album Search</a> &nbsp
        <a href="/userHome" class="buttonStyle">Feed</a> &nbsp
        <a href="/userProfile" class="buttonStyle">Your Lists</a> &nbsp
        <a href="/logout" class="buttonStyle">Log Out</a>
    </div>

    <div id="header">
        <h1>Musica</h1>
        <% /* %>
        <% if (error) { %>
            <p class="message hidden">Album not found!</p>
        <% } %>
        <% */ %>

        <% if (added) { %>
            <p class="message hidden">Album added!</p>
        <% } %>
        <hr>

        <form action="/userProfile" method="post">
            <% /* %>
            <input type="text" name="userArtist" placeholder="Artist">
            <br>
            <input type="text" name="userAlbum" placeholder="Album">
            <br>
            <input type="text" name="year" placeholder="Year">
            <% */ %>
            <button type="submit" class="buttonStyle" class="buttonStyle" name="add" value="added" style="font-size: 2.2rem;">Add Album</button>
        </form>
        <hr style="width: 25%; border-width: 2px; margin-top: -20px">
    </div>

    <div id="albumsFlex">
        <% var position = 1; %>
        <% albumList.forEach(function (item) { %>
            <h3><%=position%>.&nbsp <%=item.year%> <%=item.title%></h3>

            <div id="albumEntry">
                <% position++ %>
                <img src=<%=item.img %> class=imgAlbum alt="Album cover not available">
                <div id="albumTracks" class="hideScrollbar1 hideScrollbar2 trackList">
                    <% item.albumTracks.forEach(function(track) { %>
                        <p><%=track%></p>
                        <br>
                    <% }); %>
                    <form action="/album/<%=item.albumID%>" method="post">
                        <button type="submit" class="trackListButton buttonStyle">CHOOSE FAV'S</button>
                    </form>
                </div>
                <br><br>
            </div>
        <% }); %>
    </div>

    <%- include("footer") %>
</div>