<div id="feedFlex">
    <%- include("header") %>

    <div id="toolbar">
        <a href="/userHome" class="buttonStyle">Feed</a> &nbsp &nbsp
        <a href="/albumSearch" class="buttonStyle">Album Search</a> &nbsp &nbsp
        <% if (loggedToolbar) { %>
            <a href="/userProfile/<%=list%>?page=1" class="buttonStyle">Your List</a> &nbsp &nbsp
            <a href="/account" class="buttonStyle">Account</a> &nbsp &nbsp
            <a href="/logout" class="buttonStyle">Log out</a>
        <% } else { %>
            <a href="/login" class="buttonStyle">Login</a> &nbsp &nbsp
            <a href="/register" class="buttonStyle">Register</a>
        <% } %>
    </div>

    <div id="header">
        <h1>Musica</h1>

        <% if (added) { %>
            <p class="message hidden">Album Added!</p>
        <% } %>

        <% if (removed) { %>
            <p class="message hidden">Album Removed!</p>
        <% } %>

        <% if (reordered) { %>
            <p class="message hidden">List Reordered!</p>
        <% } %>

        <% if (reorderError) { %>
            <p class="message hidden">Please Enter a Valid Reorder Number!</p>
        <% } %>

        <% if (samePos) { %>
            <p class="message hidden">Album Is Already in That Position!</p>
        <% } %>

        <% if (gotoError) { %>
            <p class="message hidden">Please Enter a Valid Page Number!</p>
        <% } %>

        <hr>
        <h2 style="margin-right: 25%"><%=list%></h2>

        <h2>Ranked List</h2>

        <% if (listSize > 10) { %>
            <hr style="width: 22%; border-width: 1.9px; margin-top: 5px;">

            <a href="/userProfile/<%=list%>?page=<%=page%>&goto=true" class="buttonStyle" style="font-size: 1.6rem; margin-top: -15px;">Page</a> &nbsp
            <p style="color: #ECE0B8; display: inline; font-weight: bold; font-size: 1.6rem; margin-top: -15px;">|</p> &nbsp
            <a href="/userProfile/<%=list%>?page=1" class="buttonStyle" style="font-size: 1.6rem; margin-top: -15px;">Beginning</a>
            <form action="/userProfile/<%=list%>" method="post" style="width: fit-content">
                <button type="submit" class="buttonStyle" name="end" value="end" style="font-size: 1.6rem; margin-top: -15px;">End</button>
            </form>
            <p style="color: #ECE0B8; display: inline; font-weight: bold; font-size: 1.6rem; margin-top: -15px;">|</p> &nbsp
            <% page-- %>
            <a href="/userProfile/<%=list%>?page=<%=page%>" class="buttonStyle" style="font-size: 1.6rem; margin-top: -15px;">Back</a> &nbsp
            <% page = page + 2 %>
            <a href="/userProfile/<%=list%>?page=<%=page%>" class="buttonStyle" style="font-size: 1.6rem; margin-top: -15px;">Next</a> &nbsp
            <hr style="width: 22%; border-width: 1.9px; margin-top: -10px;">
        
        <% } else { %>
            <% page = 2 %>
            <hr style="width: 22%; border-width: 1.9px; margin-top: -2px;">
        <% } %>
        
        <% page-- %>

        <% if (logged) { %>
            <br>
            <a href="/albumSearch" class="buttonStyle" style="font-size: 1.7rem">Add Album</a> &nbsp
            <a href="/userProfile/<%=list%>?page=<%=page%>&reorder=true" class="buttonStyle" style="font-size: 1.7rem">Reorder/Remove</a> &nbsp
        <% } %>
    </div>

    <div id="albumsFlex">
        <% if (goto) { %>
            <div class="fadeIn reorder" style="margin-left: 1090px; margin-top: 60px; height: 200px">
                <p style="line-height: 5px">Number of pages: <%=pages%></p>
                <p style="line-height: 5px">Current page: <%=page%></p>
                <p style="line-height: 5px"><%=listSize%> albums</p>
                <hr style="width: 173px; border-width: 1.1px; border-radius: 10%; margin-right: 45px; border-color: black">
                <form action="/userProfile/<%=list%>" method="post" style="margin-top: 0; padding: 0">
                    <input type="text" placeholder="Go to page" name="gotoPage" autocomplete="off" style="width: 175px; height: 10px; padding: 20px; margin-top: 5px">
                    <button type="submit" name="goto" value="goto" style="margin-top: 10px; margin-left: 68px" class="trackListButton buttonStyle">Go</button>
                </form>
            </div>
        <% } %>

        <% albumList.forEach(function (item) { %>
            <% if (item.year === "") { %>
                <p class="albumTitle" style="text-decoration: none"><%=item.position%>.<a href="/album/<%=item.albumID%>" class="albumTitle" style="margin-left: 25px"><%=item.title%></a></p>
            <% } else { %>
                <p class="albumTitle" style="text-decoration: none"><%=item.position%>.<a href="/album/<%=item.albumID%>" class="albumTitle" style="margin-left: 25px"><%=item.title%> <%=item.year%></a></p>
            <% } %>

            <div id="albumEntry">
                <img src=<%=item.img%> class=imgAlbum alt="[album art not available]">
                <div id="albumTracks" class="hideScrollbar1 hideScrollbar2 trackList">
                    <% item.albumTracks.forEach(function(track) { %>
                        <p><%=track%></p>
                        <br>
                    <% }); %>
                    <br>
                </div>

                <% if (reorder) { %>
                    <div id="albumPos<%=item.position%>" class="fadeIn reorder">
                        <p style="font-weight: bold; font-size: 110%">Reorder Album</p>
                        <p>Total albums: <%=listSize%></p>
                        <br>
                        <form action="/userProfile/<%=list%>" method="post" style="margin-top: 0; padding: 0">
                            <input type="text" placeholder="New Position" name="newPos" autocomplete="off" style="width: 175px; height: 10px; padding: 20px; margin-top: 5px">
                            <hr style="width: 173px; border-width: 1.1px; border-radius: 10%; border-color: black">
                            <button type="submit" name="reordered" value="<%=item.albumID%>" style="margin-top: 10px" class="trackListButton buttonStyle">Reorder Album</button>
                        </form>
                        
                        <br>
                        <form action="/userProfile/<%=list%>" method="post" style="margin-top: 0; padding-right: 5px; padding-left: 0px">
                            <button type="submit" name="remove" value="<%=item.albumID%>" class="trackListButton buttonStyle">Remove</button>
                        </form>
                        <a href="/userProfile/<%=list%>?page=<%=page%>" class="trackListButton buttonStyle" style="margin-top: 0; margin-left: 11px; padding: 5px;">Cancel</a>
                    </div>
                <% } %>
                <br><br>
            </div>
        <% }); %>
    </div>

    <div id="header">
        <br>
        <% if (listSize > 2) { %>
            <a href="#" class="buttonStyle" style="font-size: 1.2rem; color: black;">Top</a> &nbsp
        <% } %>

        <% if (listSize > 10) { %>
            <a href="/userProfile/<%=list%>?page=<%=page%>&goto=true" class="buttonStyle" style="font-size: 1.2rem; color: black;">Page</a> &nbsp
            <p style="color: black; display: inline; font-weight: bold">|</p> &nbsp
            <a href="/userProfile/<%=list%>?page=1" class="buttonStyle" style="font-size: 1.2rem; color: black;">Beginning</a>
            <form action="/userProfile/<%=list%>" method="post" style="width: fit-content">
                <button type="submit" class="buttonStyle" name="end" value="end" style="font-size: 1.2rem; color: black;">End</button>
            </form>
            <p style="color: black; display: inline; font-weight: bold">|</p> &nbsp
            <% page-- %>
            <a href="/userProfile/<%=list%>?page=<%=page%>" class="buttonStyle" style="font-size: 1.2rem; color: black;">Back</a> &nbsp
            <% page = page + 2 %>
            <a href="/userProfile/<%=list%>?page=<%=page%>" class="buttonStyle" style="font-size: 1.2rem; color: black;">Next</a> &nbsp
        <% } %>
    </div>
    <%- include("footer") %>
</div>